@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Global styles */
body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #717171;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

h1,
h2,
h3 {
  margin-bottom: 1rem;
  font-weight: 600;
  color: #333;
}

p {
  margin-bottom: 1.5rem;
}

ul {
  list-style: none;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 2rem;
}

/* Navbar styles */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  background-color: #333;
  color: #fff;
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

nav ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin: 0.5rem;
}

nav a {
  font-size: 1.1rem;
  font-weight: 500;
  color: #fff;
  transition: all 0.3s ease-in-out;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
}

nav a:hover {
  background-color: #fff;
  color: #333;
}

/* Homepage styles */
.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 70px);
}

.home h1 {
  font-size: 3rem;
}

.home p {
  max-width: 800px;
  text-align: center;
}

/* About Me styles */
.about h1 {
  font-size: 2.5rem;
  text-align: center;
}

.about p {
  max-width: 800px;
  margin: 0 auto 2rem;
}

.about-button {
  background-color: #333; /* Set the background color */
  border: none; /* Remove the border */
  color: white; /* Set the text color */
  padding: 10px 20px; /* Set the padding */
  text-align: center; /* Center the text horizontally */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Make the button inline */
  font-size: 16px; /* Set the font size */
  margin: 10px; /* Add some margin around the button */
  cursor: pointer; /* Change cursor to pointer on hover */
  border-radius: 5px; /* Add rounded corners */
}

/* Projects/Accomplishments styles */

.projects {
  padding: 20px;
}

.projects img {
  max-width: 80%;
}

.projects h1 {
  font-size: 2.5rem;
  text-align: center;
}

.projects ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.5rem;
  margin-top: 2rem;
}

.projects li {
  background-color: #fff;
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.projects li:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
}

.projects h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.projects p {
  margin-bottom: 0.5rem;
}

.projects a {
  color: #333;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.projects a:hover {
  color: #6c5ce7;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  nav {
    flex-direction: row;
    justify-content: flex-end;
  }

  nav ul {
    flex-direction: row;
  }

  nav li {
    margin: 0 0.75rem;
  }

  ​ .container {
    padding: 0 1rem;
  }

  header {
    height: 60px;
  }

  nav a {
    font-size: 1rem;
    padding: 0.5rem;
  }

  .home h1 {
    font-size: 2.5rem;
  }

  .about h1 {
    font-size: 2rem;
  }

  .projects h1 {
    font-size: 2rem;
  }

  .projects ul {
    grid-template-columns: 1fr;
  }

  .projects li {
    padding: 1.5rem;
  }
}